@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto min-h-screen;
}

body {
  @apply text-black bg-primary;
  p {
    @apply text-base;
  }
}

strong {
  @apply text-tertiary;
}

.center {
  @apply flex items-center justify-center;
}

.glassy {
  @apply backdrop-blur-lg bg-secondary/60;
}

input,
select,
select:disabled {
  @apply w-full shadow-lg rounded-lg px-4 py-2 my-2 text-base hover:shadow-sm bg-primary focus:outline-tertiary focus:outline-2 outline-offset-2;
}
select:disabled {
  opacity: 0.6;
}
.line {
  @apply w-full h-1 bg-primary rounded-full shadow-2xl;
}

.head {
  @apply text-2xl font-bold text-center mb-2;
}

.main {
  @apply w-11/12 md:w-7/12 glassy center md:px-4 rounded-2xl shadow-lg md:py-10;
}

button:not(.type button, .Toastify__close-button, .logout) {
  @apply -translate-y-1;
  &:hover,
  &:active {
    @apply translate-y-0;
  }
}
button:not(.cancel){
  @apply bg-secondary;
}
button:not(.logout) {
  @apply rounded-lg text-base center px-4 py-2 my-2 font-bold transition-shadow shadow-xl;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  &:focus {
    box-shadow: #aad8b0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.2) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #aad8b0 0 -3px 0 inset;
  }
  &:hover {
    box-shadow: rgba(45, 35, 66, 0.1) 0 4px 8px;
  }
  &:active {
    box-shadow: #aad8b0 0 3px 7px inset;
  }
}

.cancel {
  @apply bg-red-500 text-white;
}

.icon {
  @apply w-6 h-6 rounded-none shadow-none aspect-square mx-2;
}

article img {
  @apply rounded-lg shadow-lg;
}
.list {
  li {
    @apply flex items-center;
  }
}
.round {
  @apply rounded-xl shadow-lg;
}
nav a {
  @apply center flex-col md:flex-row;
}

.Toastify {
  @apply absolute top-4 right-2;
}

.details_table {
  h4 {
    @apply text-xl mb-2;
  }
  table {
    @apply max-w-full table-auto border-collapse round overflow-hidden mb-4;
  }
  th {
    @apply glassy;
  }
  td {
    @apply p-2 text-sm;
  }
}
