/* SignUp.css */

/* Container styling */
.container1 {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    background-color:var(--light-green);
    min-height: 100vh;
    overflow: hidden;
  }

  .card {
    padding-top: 20px;
    width: 550px;
    margin: 10px auto; /* Added top and bottom margin for spacing */
    background-color: var(--lightest-green);
    border-radius: 10px; /* Optional: Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Hover effect for the card */
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  }
  
  /* Responsive design */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Maintain shadow on smaller screens */
    }
  }
  
  /* Form heading */
  h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Form labels */
  label {
    font-weight: bold;
    color: #555;
  }
  
  /* Input field styling */

  .form-group{
    width: 90% !important;
  }
  .form-control {
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  /* Input field focus state */
  .form-control:focus {
    border-color: var(--light-green);
    box-shadow: 0 0 5px var(--dark-green);
    outline: none;
  }
  
  /* Submit button */
  .btn-block {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary {
    background-color: var(--medium-green);
    border-color: var(--dark-green);
  }
  
  .btn-primary:hover {
    background-color: var(--dark-green);
    border-color: var(--light-green);
  }
  
  /* Form group margin */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .container1 {
      padding: 20px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    .form-control {
      font-size: 14px;
    }
  
    .btn-block {
      font-size: 16px;
    }
  }
  