.container1 {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    background-color:var(--light-green);
    min-height: 100vh;
    overflow: hidden;
  }

  .signUpCard{
    padding-top: 20px;
    width: 550px !important;
    margin: 10px auto;
    background-color: var(--lightest-green);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  
  h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    color: #555;
  }

  .form-group{
    width: 90% !important;
  }
  .form-control {
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .form-control:focus {
    border-color: var(--light-green);
    box-shadow: 0 0 5px var(--dark-green);
    outline: none;
  }
  
  .btn-block {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary {
    background-color: var(--medium-green);
    border-color: var(--dark-green);
  }
  
  .btn-primary:hover {
    background-color: var(--dark-green);
    border-color: var(--light-green);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
 
  @media (max-width: 768px) {
    .container1 {
      padding: 20px;
    }
    
    .signUpCard{
      padding-top: 20px;
      width: 95% !important;
      margin: 10px;
      background-color: var(--lightest-green);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;
    }

    .form-control {
      margin-bottom: 15px;
      font-size: 16px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      transition: all 0.3s ease;
      margin-left:-10% ;
      width: 120% !important;
    }
    h2 {
      font-size: 24px;
    }
  
    .form-control {
      font-size: 14px;
    }
  
    .btn-block {
      font-size: 16px;
    }
  }
  
  .signUpCard {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .otp-input {
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .otp-input:focus {
    border-color: #0056b3;
    outline: none;
  }
  